.post-comments {
    margin: 10px;
    font-size: small;

    .comment {
        margin-bottom: 10px;
    }

    .comment-name {
        font-weight: bold;
    }

    .comment-email {
        font-style: italic;
    }
}