<div class="list-post-container">
    <div *ngFor="let post of paginablePosts" class="post">
        <div>{{post.id}}</div>
        <div class="title">{{post.title}}</div>
        <div class="body">{{post.body}}</div>
        <button (click)="goToAuthor(post.userId)"
            class="post-button">Go to Author</button>
        <button (click)="loadComments(post.id)" [hidden]="post.commentsVisible"
            class="post-button">Load comments</button>
        <button (click)="hideComments(post.id)" [hidden]="!post.commentsVisible"
            class="post-button">Hide comments</button>

        <app-post-comments 
            [postComments]="post.comments"
            [postId]="post.id"
            [hidden]="!post.commentsVisible">
        </app-post-comments>
    </div>

    <div class="pagination">
        <div (click)="previousPage()" class="btn arrow"><</div>
        <div>{{page}}</div>
        <div (click)="nextPage()" class="btn arrow">></div>
    </div>
</div>
