* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    place-items: center center;
}

:root 
{
    --base-color: #000;
    --base-gradient: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}